header {
    text-align: center;
    border: solid white 10px;
    color: white;
}

body {
    background: black;
    border: solid white 5px;
    text-align: left;
}

p {
    color: black;
    background: white;
    border: dashed white 5px;
    text-align: left;
}

ul {
    color: black;
    background-color: white;
    text-align: left;
}

li {
    color: black;
    background-color: white;
    text-align: left;
}